APP_PORT=9005
APP_DEBUG=false

DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=tecnomarket
DB_USER=tecnomarket_user
DB_PASS=clave_segura_del_usuario
DB_DATABASE=tecnomarket
DB_USERNAME=tecnomarket_user
DB_PASSWORD=clave_segura_del_usuario
DB_CHARSET=utf8mb4
